In [2]:
%matplotlib inline
import pandas as pd

In [3]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [4]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [5]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                    title  year     name   type                character     n
0         Suuri illusioni  1985   Homo $  actor                   Guests  22.0
1     Battle of the Sexes  2017  $hutter  actor          Bobby Riggs Fan  10.0
2    Secret in Their Eyes  2015  $hutter  actor          2002 Dodger Fan   NaN
3              Steve Jobs  2015  $hutter  actor  1988 Opera House Patron   NaN
4  Straight Outta Compton  2015  $hutter  actor              Club Patron   NaN

### How many movies are listed in the titles dataframe?

In [6]:
titles.count()

title    223499
year     223499
dtype: int64

### What are the earliest two films listed in the titles dataframe?

In [7]:
titles.sort_values('year').head(2)

                                                 title  year
170908                                      Miss Jerry  1894
119807  Reproduction of the Corbett and Jeffries Fight  1899

### How many movies have the title "Hamlet"?

In [8]:
titles[titles['title']=='Hamlet'].count()

title    19
year     19
dtype: int64

### How many movies are titled "North by Northwest"?

In [9]:
titles[titles['title']=='North by Northwest'].count()

title    1
year     1
dtype: int64

### When was the first movie titled "Hamlet" made?

In [10]:
is_hamlet = titles['title'] == 'Hamlet'
titles[is_hamlet].sort_values('year').head(1)

        title  year
44969  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [11]:
is_treasure = titles['title'] == "Treasure Island"
titles[is_treasure].sort_values('year')

                  title  year
198139  Treasure Island  1918
49354   Treasure Island  1920
183700  Treasure Island  1934
93252   Treasure Island  1950
57379   Treasure Island  1972
107165  Treasure Island  1973
197536  Treasure Island  1985
172452  Treasure Island  1999

### How many movies were made in the year 1950?

In [12]:
in_1950 = titles['year'] == 1950
titles[in_1950].count()

title    1081
year     1081
dtype: int64

### How many movies were made in the year 1960?

In [13]:
in_1960 = titles['year'] == 1960
titles[in_1960].count()

title    1487
year     1487
dtype: int64

### How many movies were made from 1950 through 1959?

In [14]:
from1950to1959 = (titles['year'] >= 1950) & (titles['year'] <= 1959)
titles[from1950to1959].count()

title    12340
year     12340
dtype: int64

### In what years has a movie titled "Batman" been released?

In [15]:
is_batman = titles['title'] == 'Batman'
titles[is_batman]['year']

53902    1989
71794    1943
Name: year, dtype: int64

In [17]:
titles.ix[is_batman, 'year']

53902    1989
71794    1943
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [20]:
is_inception = cast['title']=="Inception"
cast.ix[is_inception, 'name'].count()

77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [21]:
in_inception_not_ranked = (cast['title']=="Inception") & (cast['n'].isnull())
cast[in_inception_not_ranked].count()

title        26
year         26
name         26
type         26
character    26
n             0
dtype: int64

### But how many roles in the movie "Inception" did receive an "n" value?

In [17]:
is_inception = (cast['title']=="Inception") & (cast['n'].notnull())
cast[is_inception].count()

title        51
year         51
name         51
type         51
character    51
n            51
dtype: int64

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [23]:
is_north = cast['title']=="North by Northwest"
cast[is_north].sort_values('n').dropna()

,title,year,name,type,character,n
810109,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3235971,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1354180,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
2911919,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
330827,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2815263,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1576006,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1184592,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2272380,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1683543,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
618775,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2131821,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
431247,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1402205,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
190611,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1286691,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [31]:
in_sleuth = (cast['title'] == "Sleuth") & (cast['year']==1972)
cast_sleuth_1972 = cast[in_sleuth].sort_values('n')
cast_sleuth_1972

,title,year,name,type,character,n
1585272,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
302918,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
346900,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1361812,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2523593,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1346399,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [32]:
in_sleuth = (cast['title'] == "Sleuth") & (cast['year']==2007)
cast_sleuth_2007 = cast[in_sleuth].sort_values('n')
cast_sleuth_2007

          title  year                 name     type          character    n
302919   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1201800  Sleuth  2007             Jude Law    actor               Milo  2.0
1678498  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
240674   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
346901   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2523592  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3103659  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [35]:
is_hamlet_1921 = (cast['title']=='Hamlet') & (cast['year']==1921)
hamlet_1921 = cast[is_hamlet_1921]
hamlet_1921.dropna().count()

title        9
year         9
name         9
type         9
character    9
n            9
dtype: int64

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [38]:
is_hamlet_1921 = (cast['title']=='Hamlet') & (cast['year']==1996)
hamlet_1921 = cast[is_hamlet_1921]
hamlet_1921.dropna().count()

title        46
year         46
name         46
type         46
character    46
n            46
dtype: int64

### How many "Hamlet" roles have been listed in all film credits through history?

In [39]:
is_hamlet = cast['title']=='Hamlet'
cast_hamlet = cast[is_hamlet]
cast_hamlet.dropna().count()

title        248
year         248
name         248
type         248
character    248
n            248
dtype: int64

### How many people have played an "Ophelia"?

In [20]:
is_ophelia = cast['character'] == "Ophelia"
cast[is_ophelia].count()

title        103
year         103
name         103
type         103
character    103
n             55
dtype: int64

### How many people have played a role called "The Dude"?

In [21]:
is_dude = cast['character'] == "The Dude"
cast[is_dude].count()

title        17
year         17
name         17
type         17
character    17
n            11
dtype: int64

### How many people have played a role called "The Stranger"?

In [22]:
is_stranger = cast['character'] == "The Stranger"
cast[is_stranger].count()
# 0 ?

title        206
year         206
name         206
type         206
character    206
n            133
dtype: int64

### How many roles has Sidney Poitier played throughout his career?

In [45]:
is_spoitier = cast['name']=='Sidney Poitier'
cast.loc[is_spoitier, 'title'].count()

43

### How many roles has Judi Dench played?

In [46]:
is_jdench = cast['name']=='Judi Dench'
cast.loc[is_jdench, 'title'].count()

53

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [52]:
in_1940s = cast['year']//10*10 == 1940
is_cary_grant = cast['name']=='Cary Grant'
is_2 = cast['n']==2
cast[in_1940s & is_cary_grant & is_2]

                   title  year        name   type    character    n
810106  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
810116    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [54]:
in_1940s = cast['year']//10*10 == 1940
is_cary_grant = cast['name']=='Cary Grant'
leading_role = cast['n']==1
cast[in_1940s & is_cary_grant & leading_role].sort_values('year')

,title,year,name,type,character,n
810131,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
810088,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
810133,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
810121,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
810135,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
810112,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
810079,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
810104,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
810105,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
810113,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
810071,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
810108,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
810107,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
810110,Notorious,1946,Cary Grant,actor,Devlin,1.0
810127,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
810128,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
810103,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
810083,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
810092,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [55]:
# 1950s = 1950 -> 1959
in_50s = cast['year']//10*10 == 1950
is_actor = cast['type'] == 'actor'
cast[in_50s & is_actor].count()

title        152504
year         152504
name         152504
type         152504
character    152504
n             79497
dtype: int64

### How many roles were avilable for actresses in the 1950s?

In [56]:
# 1950s = 1950 -> 1959
in_50s = cast['year']//10*10 == 1950
is_actor = cast['type'] == 'actress'
cast[in_50s & is_actor].count()

title        55399
year         55399
name         55399
type         55399
character    55399
n            34288
dtype: int64

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [57]:
through_1980 = cast['year'] <= 1980
cast_1980 = cast[through_1980]
is_1 = cast_1980['n'] == 1
cast_1980[is_1].count()

title        62893
year         62893
name         62893
type         62893
character    62893
n            62893
dtype: int64

### How many non-leading roles were available through from the beginning of film history through 1980?

In [59]:
through_1980 = cast['year'] <= 1980
cast_1980 = cast[through_1980]
non_leading = cast_1980['n'] > 1
cast_1980[non_leading].count()
# substraction approach also possible

title        647630
year         647630
name         647630
type         647630
character    647630
n            647630
dtype: int64

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [62]:
through_1980s = cast['year'] <= 1980
cast_1980s = cast[through_1980s]
no_n = cast_1980s['n'].isnull()
cast_1980[no_n].count()

title        431053
year         431053
name         431053
type         431053
character    431053
n                 0
dtype: int64